<div class="row">
    <div class="col s12 l3">
        <img id="scanned-barcode" data-barcode="{{barcode.barcode_num}}" data-id="{{barcode.id}}"/>
        <p>Title: {{barcode.title}}</p>
        <p>Description: {{barcode.description}}</p>
        {{#if barcode.photo_url}}<img src="{{barcode.photo_url}}" alt="Photo" width=200><br>{{/if}}
    </div>
    <div class="col s12 m9">
        <ul class="tabs s12">
            <li class="tab col s4"><a id="assigned-tab" href="#assigned">Assigned</a></li>
            <li class="tab col s5"><a id="unassigned-tab" href="#unassigned">Unassigned</a></li>
            <li class="tab col s3"><button id="update-items" class="btn waves-effect waves-light blue lighten-1">UPDATE
    <i class="material-icons right">sync</i>
</button></li>
        </ul>
        <div id="assigned" class="col s12">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Description</th>
                        <th>Photo</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each items}}
                    {{#if BarcodeId}}
                    <tr>
                        <td>
                            <form>
                                <p>
                                    <label>
                                        <input class="checkbox assigned filled-in" type="checkbox" data-changed="false" checked="checked" data-id="{{id}}"/>
                                        <span class="assigned-item">{{item_name}}</span>
                                    </label>
                                </p>
                            </form>
                        </td>
                        <td>{{description}}</td>
                        <td>{{#if photo_url}}<a href="{{photo_url}}" target="_blank">View Photo</a>{{/if}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>
        <div id="unassigned" class="col s12 blue lighten-2">
            <table class="striped">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Description</th>
                        <th>Photo</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each items}}
                    {{#unless BarcodeId}}
                    <tr>
                        <td>
                            <form>
                                <p>
                                    <label>
                                        <input class="checkbox unassigned filled-in" data-changed="false" type="checkbox" data-id="{{id}}"/>
                                        <span class="unassigned-item">{{item_name}}</span>
                                    </label>
                                </p>
                            </form>
                        </td>
                        <td>{{description}}</td>
                        <td>{{#if photo_url}}<a href="{{photo_url}}" target="_blank">View Photo</a>{{/if}}</td>
                    </tr>
                    {{/unless}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<style>
    #scanned-barcode {
        width: 150px;
    }

    #assigned,
    #unassigned {
        height: 500px;
        overflow: auto;
    }

    #assigned-tab, #unassigned-tab {
        color: black;
    }

    .assigned-item, .unassigned-item {
        color: black;
    }

    #update-items {
        display: none;
    }

    .assigned[type="checkbox"].filled-in:checked + span:not(.lever):after {
        border: 2px solid black;  
        background-color: blue;
    }

    .unassigned[type="checkbox"].filled-in:checked + span:not(.lever):after {
        border: 2px solid white;  
        background-color: blue;
    }

    .table-container {
        overflow: auto;
    }


</style>

<script src="/javascript/JsBarcode.all.min.js"></script>
<script src="/javascript/scanned.js"></script>